@import url(http://fonts.googleapis.com/css?family=Pompiere);

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1;
  background: #151a1f url(../images/noisy_net.png) 0 0 fixed;
  margin: 0;
  padding: 0;
  color: #ccc;
  font-family: Pompiere,arial,serif;
  font-size: 120%;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  body {
    background-image: url(../images/noisy_net.png);
    background-size: 100px 100px;
  }
}

a,
a:visited {
  color: #ccc;
  text-decoration: none;
}

a:hover {
  color: white;
}

header {
  display: block;
  padding: 20px;
}

figure#logo {
  font-size: 170%;
  margin: 0;
  padding: 0 0 20px 0;
}

nav {
  display: block;
}

nav ul {
  margin: 10px 0 40px 0;
  display: inline;
}

nav ul li {
  display: inline-block;
  padding: 0 40px 0 0;
}

.copy-container {
  padding: 1em;
}

.copy-container h1 {
  font-size: 220%;
  margin-bottom: 1em;
}

.copy-container p {
  font-size: 130%;
}

.copy-container a {
  text-decoration: none;
  border-bottom: 1px dotted #94a0df;
  color: #94a0df;
  padding-bottom: 2px;
}

.copy-container a:hover {
  color: #bec9ff;
  border-bottom: 1px dotted #bec9ff;
}

#container {
  max-width: 1240px;
}

@media only screen and (max-width: 906px) {
  body div#container {
    width: 100%;
    height: auto;
  }

  body div#container figure {
    width: 100%;
    height: auto;
  }

  body div#container figure img {
    width: 100%;
    height: auto;
  }
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}